*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{

width: 100%;
height: 105px;
top: -1px;
background-color: #0C192E;
display: flex;
justify-content: space-evenly;
align-items: center;


}
.container-logo {
    text-align: center; 
    margin-bottom: 20px; 
}


.container-logo img {
    width: 139px;
    height: 100px;
    top: 5px;
    left: 108px;
    
}


nav {
    text-align: center; 
}


nav a {
    text-decoration: none; 
    margin: 0 20px; 
    color: #ffffff; 
    font-family:600;
    font-size: 16px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


.container-social-media {
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
}


.icone-social-media {
    width: 30px; 
    height: 30px;
    background-color: #333; 
    margin: 0 10px; 
}

footer{
    width: 100%;
    height: 189px;
    background-color: FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container-all-information{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    margin-left: 25rem;
    margin-top: 3rem;

}

footer {
    background-color: #f0f0f0; 
    text-align: center; 
}

.container-all-information input {
    width: 100px; 
    padding: 5px; 
    width: 499px;
    height: 50px;
    top: 3960px;
    left: 636px;
    border-radius: 5px;

}

.container-all-information button {
    padding: 5px 10px; 
}
.container-all-information h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: 0C192E;

}
.copyright{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
     text-align: left;

}
.politique-de-confidentialite {
    display: flex; 
    justify-content: center; 
    padding-top: 2rem;
    justify-content: space-around;
}


.politique-de-confidentialite span {
    margin: 0 10px; 
    color: 00214A; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 500;
}

footer header {
    margin-top: 20px; 
}

footer .container-logo {
    text-align: center; 
}

footer nav {
    text-align: center; 
}


footer nav a {
    text-decoration: none; 
    margin: 0 20px; 
    color: #333; 
}


footer .container-social-media {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}


footer .icone-social-media {
    width: 30px; 
    height: 30px;
    margin: 0 10px; 
}


footer .icone-social-media img {
    width: 100%; 
    height: auto; 
}
